.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
}

.dropdown-content a {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.half-sized {
    width: 50%;
}

.fix-to-top {
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
    border-bottom: solid grey 1px;
    left: 5px;
    right: 5px;
}

.move-below {
    margin-top: 120px;
}

.line-break {
    border-bottom: 1px solid black;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1em;
    margin-bottom: 1em;
    clear: both;
}

/* LyricDisplay Component Stylings */

.song-display h2 {
    font-size: 2.4em;
    font-variant: small-caps;
    font-weight: bold;
    margin-bottom: -.5em;
}

.song-display h3 {
    font-size: 1.4em;
    font-weight: lighter;
    margin-bottom: 1em;
    padding-bottom: .5em;
    border-bottom: 1px solid;    
}

.lyric-line {
    font-size: 1.2em;
    line-height: 1.6;
    white-space: pre-wrap;
}

.lyric-line:hover {
    background-color: yellow;
    cursor: pointer;
}


/* LyricInfo Component Stylings */

.lyric-info {
    position: fixed;
    top: 21.5vh;
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
}

.lyric-info .chosen-line {
    font-size: 1.4em;
    line-height: 1.6;
    font-weight: bold;
}

.lyric-info .btn {
    float: right;
    margin: 15px;
}

.lyric-info .alert {
    margin: 20px;
    margin-top: 30px;
}

.clear-both {
    clear: both;
}

/* TopLyric stylings */

.top-lyrics .title {
    font-size: 1.4em;
    line-height: 1.6;
    font-weight: bold;
    margin-bottom: 1em;
}

.top-lyrics .line {
    font-size: 1.2em;
    line-height: 1.4;
    margin-bottom: .6em;
}